@model CourseSearch.Core.ViewModels.CoursesViewModel

@foreach (var course in Model.Courses)
{
    <div class="course">
        <div class="w-100">
            <div class="course-title">
                <a target="_blank" rel="noopener noreferrer" href="@course.Url">@course.Title</a>
            </div>
            <div class="course-details">
                <div class="course-details-publisher">
                    <a href="@Url.Action("PublisherCourses", "Courses", new { id = course.Publisher.Id })">
                        @course.Publisher.Name
                    </a>
                </div>
                <div class="course-details-date">
                    @course.GetDisplayDate()
                </div>
            </div>
        </div>

        @if (Model.ShowActions)
        {

            <div class="dropdown course-action">
                <i class="fas fa-ellipsis-h" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                </i>
                <ul class="dropdown-menu dropright" aria-labelledby="dropdownMenuButton">
                    <li class="dropdown-submenu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <a class="dropdown-item dropdown-toggle js-toggle-channels" href="#" data-course-id="@course.Id">Add to channel</a>
                        <ul class="dropdown-menu dropdown-menu-form"></ul>
                    </li>
                </ul>
            </div>
            <div class="course-action">
                <i data-course-id="@course.Id" class="@(Model.Bookmarks.Contains(course.Id) ? "fas" : "far") fa-bookmark fa-lg js-toggle-bookmark"></i>
            </div>

        }
        <div class="course-price">
            @course.GetDisplayPrice()
        </div>
    </div>

}