@model CourseSearch.ViewModels.CoursesViewModel
@{
    ViewBag.Title = "Courses";
}
@using (Html.BeginForm("Search", "Courses"))
{
    <div class="form-group">
        <div class="input-group mb-3">
            @Html.TextBoxFor(m => m.SearchTerm, new { @class = "form-control", placeholder = "Seach courses" })
            <div class="input-group-append">
                <span class="input-group-text" id="basic-addon2">
                    <i class="fas fa-search"></i>
                </span>
            </div>
        </div>
    </div>
}

@foreach (var course in Model.Courses)
{
    <div class="course">
        <div>
            <div class="course-title">
                <a target="_blank" rel="noopener noreferrer" href="@course.Url">@course.Title</a>
            </div>
            <div class="course-details">
                <div class="course-details-publisher">
                    @course.Publisher.Name
                </div>
                <div class="course-details-date">
                    @course.GetDisplayDate()
                </div>
            </div>
        </div>
        <div class="course-price">
            @course.GetDisplayPrice()
        </div>
    </div>
}